/* --------------------------------------------------
Content
-------------------------------------------------- */
.content {
	background-color: $white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Section
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(section) {
	background-color: $white;
	padding: 60px 0;
	text-align: center;
	@extend .group;
    
	@include bem-element(header) {
		text-align: center;
		font-family: 'Permanent Marker', cursive;
		@include font-size(40);
		font-weight:800;
		
		@include breakpoint(medium) {
			@include font-size(80);
		}
	}
	@include bem-element(header, white) {
		color: $white;
	}


	@include bem-element(text) {
		text-align: center;
		padding: 10px;
		color: $grey7;
		line-height: 37px;
		@include font-size(20);
		
		@include breakpoint(small) {
			padding: 10px 40px;
		}

		@include breakpoint(medium) {
			padding: 10px 80px;
		}
	}

	@include bem-element(text, small) {
		@include font-size(18);
	}

	@include bem-element(text, justify) {
		text-align: justify;
	}

	@include bem-element(text, white) {
		color: $white;
	}

	@include bem-element(image) {
		text-align: center;
		width: 200px;
		@include border-radius(50%);
	}

	@include bem-element(image, bordered) {
		border:5px solid $white;
		@include prefix(box-shadow, 0px 5px 0 rgba(0,0,0,0.1));	
	}
	
	@include bem-element(icon, blue) {
		@include font-size(90);
		margin: 45px auto;
		color: $blue2;
	}

	@include bem-element(icon, red) {
		@include font-size(120);
		margin: 30px auto;
		color: $red1;
	}

	@include bem-element(icon-border) {
		margin: 50px auto;
		border-radius: 50%;
		text-align: center;
		background-color: $white;
		width: 180px;
		height: 180px;
	}
}

@include bem-block(section, black) {
	background-color: $black;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------
   Container
------------------------------------------------------------------------------------------------------------------------------------------------------ */

@include bem-block(container) {
	padding: 20px;
	text-align: center;
	position: relative;
	float: left;
	width: 100%;

	@include bem-element(header) {
		color:$black;
		@include font-size(22);
	}

	@include bem-element(header, white) {
		color:$white;
	}

	@include bem-element(header, font) {
		font-family: 'Permanent Marker', cursive;
	}

	@include bem-element(text) {
		color: $black;
		@include font-size(18);
		line-height: 25px;
	}

	@include bem-element(text, white) {
		color: $white;
	}

	@include bem-element(image) {
		width: 60%;
	}

	@include bem-element(image, small) {
		width: 30%;
		margin: 5px 1.666666%;
		float: left;
	}

	@include bem-element(button-wrapper) {
		width: 50%;
		margin:0 auto;
		margin-top: 20px;
	}

	@include bem-element(button) {
		width: 50%;
		color:$white;
		float: left;
		@include font-size(16);
		
		&:hover {
			color:$yellow1;
		}
	}
}


@include bem-block(container, half) {
	width: 100%;
	
	@include breakpoint(small-medium) {
		width: 50%;
	}
}



/* --------------------------------------------------
   Slider
-------------------------------------------------- */
	    
@include bem-block(slider) {
	width: 100%;
	margin: 40px 0;
	
	@include bem-element(image) {
		width: 20%;
		margin: 0 6.666667%;
		float: left;
		opacity: 1;
		position: relative;
		
		@include breakpoint(medium) {
			width: 10%;
			margin: 0 11.66666%;
		}
	}
	
}