/* ------------------------------------------------------------------------------------------------------------------------------------------------------
Flash Messages
------------------------------------------------------------------------------------------------------------------------------------------------------ */
	    
.flash-messages-devise {
	margin-bottom: 15px;
}

.flash {
	padding: 10px;
	margin-bottom: 0px;
	border-radius: 4px;
	@include font-size(14);

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: right;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.flash-notice,.flash-alert,.flash-success  {
	position: absolute;
	top:60px;
	background-color: #d9edf7;
	color: #31708f;
	border: 1px solid #bce8f1;
	z-index: 2;
}
