/* --------------------------------------------------
  Widths and Heights
-------------------------------------------------- */
$top-bar-height: 50px;
$side-bar-width: 200px;
$desktop-width: 1180px;

/* --------------------------------------------------
  Core
-------------------------------------------------- */
$white: #FFF;
$black: #000;
$topbar: #313538;
$text:#A9A096;

/* --------------------------------------------------
  Greys
-------------------------------------------------- */
$grey1: #111;
$grey2: #222;
$grey3: #333;
$grey4: #444;
$grey5: #555;
$grey6: #666;
$grey7: #777;
$grey8: #888;
$grey9: #999;
$greyA: #AAA;
$greyB: #BBB;
$greyC: #CCC;
$greyD: #DDD;
$greyE: #EEE;
$lightgrey: #F4F4F4;

/* --------------------------------------------------
  Reds
-------------------------------------------------- */
$red1: #E66B5C;
$red2: #DF533A;
 
/* --------------------------------------------------
  Yellows
-------------------------------------------------- */
$yellow1: #FDE573;

/* --------------------------------------------------
  Greens
-------------------------------------------------- */
$green: #3BB479;  
$green1: #BEE1B7;
$green2: #83E1B6;
$green3: #3BC889;
$green4: #37A283;  
$green5: #1C7260;  

/* --------------------------------------------------
  Blues
-------------------------------------------------- */
$blue1: #48CBC1;
$blue2 : #1282A7;

/* --------------------------------------------------
   Browns
-------------------------------------------------- */
$brown1 : #988676;
