/* --------------------------------------------------
  General
-------------------------------------------------- */

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
-webkit-font-smoothing: antialiased;
}

/* --------------------------------------------------
  Headers
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1 {
  @include font-size(32);
  margin-top: 0.5em;
  margin-bottom: 0.67em;
}
h2 {
  @include font-size(24);
  margin-top: 0.5em;
  margin-bottom: 0.67em;
}
h3 {
  @include font-size(18);
  margin-top: 0.5em;
  margin-bottom: 0.67em;
}
h4 {
  @include font-size(16);
  margin-top: 0.5em;
  margin-bottom: 0.67em;
}
h5 {
  @include font-size(15);
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.67em;
}
h6 {
  @include font-size(14);
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.67em;
}

/* --------------------------------------------------
  Other
-------------------------------------------------- */
a {
    text-decoration: none;
    color:$black;
  }

.underline {
  text-decoration: underline;
  color:$grey6;
}

li {
  list-style: none;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
