<%= link_to root_path do %>
	<div class="section section--no-padding section--black">
		<i class="fa fa-hand-o-left section__tickets-icon"></i>
		<h2 class="section__page-header">Hooked</h2>
	</div>
<% end %>

<div class="section section--black section--no-padding">

	<div class="content-wrapper">

	<h2 class="section__header section__header--white section__header--n-mt">Tickets</h2>

		<iframe
			width="100%"
			scrolling="auto"
			height="1500"
			frameborder="0"
			marginwidth="0"
			marginheight="0"
			src="https://frontoffice.paylogic.nl/flows/MTAuMTAwLjIuNjYsNTQsZDQ4YWRlYWQyMDRiNDMyOTlmOGU2ZDBjOTM0ZjIwNDMsYTMxNjE0MDE2YzhiOTYyNDI3MTA0OWZiMTQ1YzRkZjM/Tickets/"
			name="paylogicFO"
			id="myFO">
		</iframe>

			
	</div>

</div>