/* --------------------------------------------------
   Video
-------------------------------------------------- */

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    overflow: hidden;
    
    video::-webkit-media-controls {
    display:none !important;
	}
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
		
}

.video-container .filter {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container__video {
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -5;
}

.video-container video.fillWidth {
    width: 100%;
}



/* --------------------------------------------------
   Hero
-------------------------------------------------- */

@include bem-block(hero) {
	position: relative;
	overflow: hidden;
	background-color: $grey4;
	width: 100%;
	height: 100vh;
	min-height:350px;
	margin: 0;
	text-align: center;		
	color:$white;

	@include bem-element(header) {
		margin-top: 180px;
		@include font-size(50);
		font-family: 'Permanent Marker', cursive;
	    	text-shadow: 0 2px 6px rgba(0,0,0,0.5);

		@include breakpoint(medium) {
			@include font-size(80);
		}
	}

	@include bem-element(subheader) {
		margin-top: 10px;
		width: 60%;
		
		@include breakpoint(medium) {
			width: 40%;
		}
	}

}