<div class="topbar header">

	<i class="topbar__menu fa fa-bars"></i>

	<ul class="nav">	
		<li class="nav__listItem"> <p class="nav__link home-link" >home</p> </li>
		<li class="nav__listItem"> <p class="nav__link news-link" >news</p></li>
		<li class="nav__listItem"> <p class="nav__link lineup-link" >line-up</p></li>
		<li class="nav__listItem"> <p class="nav__link info-link" >info</p></li>
	</ul>

</div>