<div class="topbar header">

	<i class="topbar__menu fa fa-hand-peace-o"></i>

	<ul class="nav">	
		<li class="nav__listItem"> <p class="nav__link home-link" >home</p> </li>
		<li class="nav__listItem"> <p class="nav__link news-link" >news</p></li>
		<li class="nav__listItem"> <p class="nav__link lineup-link" >line-up</p></li>
		<li class="nav__listItem"> <p class="nav__link info-link" >info</p></li>
	</ul>

	<ul class="nav nav--right">
		<li class="nav__listItem"><%= link_to 'get your tickets!', tickets_path, class: 'nav__link' %></li>
		<% if current_order %>
			<li class="nav__listItem">
				<p>
				  You have <%= pluralize current_order.total_items, 'item'%> in your basket which cost
				  <%= number_to_currency current_order.total_before_tax %>.
				</p>
			</li>
		<% end %>
		<%= link_to "View basket", basket_path %>
	</ul>



</div>